<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='pictures/sva-logo-2024nobackground.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='main/main.css') }}">
    <title>Bar Roboter</title>
</head>
<body>
    <!-- Header mit Logo und Burger Menü -->
    <header class="headerbox">
        <div class="header-left">
            {% include '/menu/burger_menu.html' %}
        </div>
        <div class="header-right">
            <a href="{{ url_for('main.main') }}">
                <img src="{{ url_for('static', filename='pictures/sva-logo-2024.png') }}" class="svalogo">
            </a>
            <a href="{{ url_for('main.main') }}" class="robotname">ROBOTNAME</a>
        </div>
    </header>

    <!-- Cocktail-Grid -->
    <div class="cocktail-grid">
        {% for cocktail in cocktails %}
            <a href="{{ url_for('main.cocktail_detail', cocktail_name=cocktail.Name) }}" class="box">
                <span class="getränketitel">{{ cocktail.Name }}</span>
            </a>
        {% endfor %}
    </div>

    <!-- Logout Button unten links -->
    <form action="/logout" method="post" class="logout-form">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</body>
</html>
